<a href="https://colab.research.google.com/github/Yalenigomez/WALMART/blob/main/Walmart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd
import numpy as np
from datetime import date, datetime, timedelta

#================
# IMPORT LIBRERIAS
#================
import pandas as pd
import pandas_datareader as reader #libreria python para tomar datos financieros como dataframe
from datetime import date, datetime, timedelta
from pandas.io import gbq
!python --version
import numpy as np
import calendar

Python 3.7.12

In [16]:
#=============
# CARGA DE  DATOS 
#=============

url1 = 'https://raw.githubusercontent.com/walmartdigital/de-challenge/main/data/result.csv'
DF_Result = pd.read_csv(url1)

Se muestra los 3 primeros registros del DataFrame de 3 formas diferentes

In [17]:
#A
DF_Result.head(3)

   metascore                name console userscore          date
0         97  Grand Theft Auto V     PS3       8.3  Sep 17, 2013
1         97  Grand Theft Auto V    X360       8.3  Sep 17, 2013
2         95      The Last of Us     PS3       9.2  Jun 14, 2013

In [14]:
#B
DF_Result.head(3)

   metascore                name console userscore          date
0         97  Grand Theft Auto V     PS3       8.3  Sep 17, 2013
1         97  Grand Theft Auto V    X360       8.3  Sep 17, 2013
2         95      The Last of Us     PS3       9.2  Jun 14, 2013

In [15]:
#C
DF_Result.head

<bound method NDFrame.head of        metascore                           name console userscore          date
0             97             Grand Theft Auto V     PS3       8.3  Sep 17, 2013
1             97             Grand Theft Auto V    X360       8.3  Sep 17, 2013
2             95                 The Last of Us     PS3       9.2  Jun 14, 2013
3             94              BioShock Infinite     PS3       8.5  Mar 26, 2013
4             94              BioShock Infinite      PC       8.6  Mar 25, 2013
...          ...                            ...     ...       ...           ...
15642         38  Touhou Kobuto V: Burst Battle  Switch       4.6  Oct 10, 2017
15643         38                        Randall     PS4       2.1   Jun 6, 2017
15644         36             Tokyo Tattoo Girls    VITA       5.4  Nov 14, 2017
15645         26                      Road Rage     PS4       2.5  Nov 14, 2017
15646         17         Vroom in the Night Sky  Switch       3.1   Apr 5, 2017

[15647 rows x 5 columns]>

In [18]:
#ver nombre de las columnas
nombre_columnas = list(DF_Result.columns)
nombre_columnas

['metascore', 'name', 'console', 'userscore', 'date']

In [23]:
#---------------
#RENOMBRAR COLUMNAS
#---------------
DF_Resultado= DF_Result.rename(
        columns = {'metascore':'METASCORE'
                   ,'name':'NOMBRE'
                   ,'console':'CONSOLA'
                   ,'userscore':'USERCORE'
                   ,'date':'FECHA'
                   }
        )

In [24]:
print(DF_Resultado)

       METASCORE                         NOMBRE CONSOLA USERCORE         FECHA
0             97             Grand Theft Auto V     PS3      8.3  Sep 17, 2013
1             97             Grand Theft Auto V    X360      8.3  Sep 17, 2013
2             95                 The Last of Us     PS3      9.2  Jun 14, 2013
3             94              BioShock Infinite     PS3      8.5  Mar 26, 2013
4             94              BioShock Infinite      PC      8.6  Mar 25, 2013
...          ...                            ...     ...      ...           ...
15642         38  Touhou Kobuto V: Burst Battle  Switch      4.6  Oct 10, 2017
15643         38                        Randall     PS4      2.1   Jun 6, 2017
15644         36             Tokyo Tattoo Girls    VITA      5.4  Nov 14, 2017
15645         26                      Road Rage     PS4      2.5  Nov 14, 2017
15646         17         Vroom in the Night Sky  Switch      3.1   Apr 5, 2017

[15647 rows x 5 columns]

In [25]:
DF_Resultado.describe()

          METASCORE
count  15647.000000
mean      70.012207
std       12.633671
min       11.000000
25%       63.000000
50%       72.000000
75%       79.000000
max       98.000000

In [26]:
# REVISION DE LA FECHA DATES
#*** Resultado ***
(DF_Resultado
    .filter(['FECHA'])
)

              FECHA
0      Sep 17, 2013
1      Sep 17, 2013
2      Jun 14, 2013
3      Mar 26, 2013
4      Mar 25, 2013
...             ...
15642  Oct 10, 2017
15643   Jun 6, 2017
15644  Nov 14, 2017
15645  Nov 14, 2017
15646   Apr 5, 2017

[15647 rows x 1 columns]

In [30]:
print(DF_Resultado)

       METASCORE                         NOMBRE CONSOLA USERCORE         FECHA
0             97             Grand Theft Auto V     PS3      8.3  Sep 17, 2013
1             97             Grand Theft Auto V    X360      8.3  Sep 17, 2013
2             95                 The Last of Us     PS3      9.2  Jun 14, 2013
3             94              BioShock Infinite     PS3      8.5  Mar 26, 2013
4             94              BioShock Infinite      PC      8.6  Mar 25, 2013
...          ...                            ...     ...      ...           ...
15642         38  Touhou Kobuto V: Burst Battle  Switch      4.6  Oct 10, 2017
15643         38                        Randall     PS4      2.1   Jun 6, 2017
15644         36             Tokyo Tattoo Girls    VITA      5.4  Nov 14, 2017
15645         26                      Road Rage     PS4      2.5  Nov 14, 2017
15646         17         Vroom in the Night Sky  Switch      3.1   Apr 5, 2017

[15647 rows x 5 columns]

In [31]:
DF_Resultado.reset_index()

       index  METASCORE  ... USERCORE         FECHA
0          0         97  ...      8.3  Sep 17, 2013
1          1         97  ...      8.3  Sep 17, 2013
2          2         95  ...      9.2  Jun 14, 2013
3          3         94  ...      8.5  Mar 26, 2013
4          4         94  ...      8.6  Mar 25, 2013
...      ...        ...  ...      ...           ...
15642  15642         38  ...      4.6  Oct 10, 2017
15643  15643         38  ...      2.1   Jun 6, 2017
15644  15644         36  ...      5.4  Nov 14, 2017
15645  15645         26  ...      2.5  Nov 14, 2017
15646  15646         17  ...      3.1   Apr 5, 2017

[15647 rows x 6 columns]

In [32]:
#RECUENTO
len (DF_Resultado)

15647

In [33]:
#Tipo de datos
DF_Resultado.dtypes

METASCORE     int64
NOMBRE       object
CONSOLA      object
USERCORE     object
FECHA        object
dtype: object

In [35]:
DF_Resultado.tail()

       METASCORE                         NOMBRE CONSOLA USERCORE         FECHA
15642         38  Touhou Kobuto V: Burst Battle  Switch      4.6  Oct 10, 2017
15643         38                        Randall     PS4      2.1   Jun 6, 2017
15644         36             Tokyo Tattoo Girls    VITA      5.4  Nov 14, 2017
15645         26                      Road Rage     PS4      2.5  Nov 14, 2017
15646         17         Vroom in the Night Sky  Switch      3.1   Apr 5, 2017

In [39]:
DF_Resultado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15647 entries, 0 to 15646
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   METASCORE  15647 non-null  int64
 1   NOMBRE     15647 non-null  object
 2   CONSOLA    15647 non-null  object
 3   USERCORE   15647 non-null  object
 4   FECHA      15647 non-null  object
dtypes: int64(1), object(4)
memory usage: 611.3+ KB

In [40]:
#shape
print(DF_Resultado.shape)

(15647, 5)

In [41]:
DF_Resultado.head(15647).nunique()

METASCORE       84
NOMBRE       10451
CONSOLA         21
USERCORE        92
FECHA         3823
dtype: int64

In [29]:
#(DF_Resultado
 #   .assign(Fecha = pd.to_datetime(DF_Resultado.FECHA, format='%m/%d/%y'))
  #  .filter(['Fecha','FECHA','CONSOLA'])
  #  .groupby(['Fecha','FECHA'])
  #  .agg('sum')
  #  .sort_values('Fecha')
#)

import datetime

date_time_str="2018-06-29 08:15:27.243860"
date_time_obj = datetime.datetime.strptime(date_time_str, '%Y-%m-%d %H:%M:%S.%f')

print('Date:', date_time_obj.date())
print('Time:', date_time_obj.time())
print('Date-time:', date_time_obj)

Date: 2018-06-29
Time: 08:15:27.243860
Date-time: 2018-06-29 08:15:27.243860